@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 
 
*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
body{ 
    background-color: #223455; 
} 
.container{ 
    width: 80%; 
    margin: 0 auto; 
} 
nav{ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    border:  #1F242D; 
} 
.potfolio h2{ 
    color: white; 
    font-family: Poppins; 
    font-size: 25px; 
    font-weight: 600; 
    line-height: 37.5px; 
} 
ul{ 
    list-style-type: none; 
    display: flex; 
    gap: 40px; 
} 
li a{ 
    text-decoration: none; 
    color: white; 
    font-family: Poppins; 
    font-size: 17px; 
    font-weight: 400; 
    line-height: 25.5px; 
} 
li a:hover{ 
    color: #00EEFF; 
}